pre {
  display: block;
  word-wrap: break-word;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  white-space: pre-wrap;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.json-viewer div {
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.json-viewer div span {
  transition: opacity 0.3s ease;
  display: inline-block;
}

.json-viewer div span:hover {
  opacity: 0.7;
}